@* @model ConferenceRoom.Models.BookingViewModel

@{
    ViewData["Title"] = "Update Booking";
}

<h1>Update Booking</h1>

<form asp-action="Update">
    <div class="form-group">
        <label asp-for="Code" class="control-label"></label>
        <input asp-for="Code" class="form-control" />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NumberOfPeople" class="control-label"></label>
        <input asp-for="NumberOfPeople" class="form-control" />
        <span asp-validation-for="NumberOfPeople" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IsConfirmed" class="control-label"></label>
        <input asp-for="IsConfirmed" class="form-control" />
        <span asp-validation-for="IsConfirmed" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RoomId" class="control-label"></label>
        <input asp-for="RoomId" class="form-control" />
        <span asp-validation-for="RoomId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="StartDate" class="control-label"></label>
        <input asp-for="StartDate" class="form-control" type="date" />
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EndDate" class="control-label"></label>
        <input asp-for="EndDate" class="form-control" type="date" />
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IsDeleted" class="control-label"></label>
        <input asp-for="IsDeleted" class="form-control" />
        <span asp-validation-for="IsDeleted" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
 *@
 @model ConferenceRoom.Models.BookingReservationHolderViewModel

@{
    ViewData["Title"] = "Edit Booking";
}

<h1>Edit Booking</h1>

<form asp-action="Update">
    <div class="form-group">
        <label asp-for="Booking.Code" class="control-label"></label>
        <input asp-for="Booking.Code" class="form-control" />
        <span asp-validation-for="Booking.Code" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Booking.NumberOfPeople" class="control-label"></label>
        <input asp-for="Booking.NumberOfPeople" class="form-control" />
        <span asp-validation-for="Booking.NumberOfPeople" class="text-danger"></span>
    </div>
@*     <div class="form-group">
        <label asp-for="Booking.IsConfirmed" class="control-label"></label>
        <input asp-for="Booking.IsConfirmed" class="form-control" />
        <span asp-validation-for="Booking.IsConfirmed" class="text-danger"></span>
    </div> *@
    <div class="form-group">
        <label asp-for="Booking.RoomId" class="control-label"></label>
        <select asp-for="Booking.RoomId" class="form-control" asp-items="@(new SelectList(ViewBag.Rooms, "Id", "Code"))"></select>
        <span asp-validation-for="Booking.RoomId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Booking.StartDate" class="control-label"></label>
        <input asp-for="Booking.StartDate" class="form-control" type="date" />
        <span asp-validation-for="Booking.StartDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Booking.EndDate" class="control-label"></label>
        <input asp-for="Booking.EndDate" class="form-control" type="date" />
        <span asp-validation-for="Booking.EndDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <h2>Reservation Holder Information</h2>
        <label asp-for="ReservationHolder.IdCardNumber" class="control-label"></label>
        <input asp-for="ReservationHolder.IdCardNumber" class="form-control" />
        <span asp-validation-for="ReservationHolder.IdCardNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ReservationHolder.Name" class="control-label"></label>
        <input asp-for="ReservationHolder.Name" class="form-control" />
        <span asp-validation-for="ReservationHolder.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ReservationHolder.Surname" class="control-label"></label>
        <input asp-for="ReservationHolder.Surname" class="form-control" />
        <span asp-validation-for="ReservationHolder.Surname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ReservationHolder.Email" class="control-label"></label>
        <input asp-for="ReservationHolder.Email" class="form-control" />
        <span asp-validation-for="ReservationHolder.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ReservationHolder.PhoneNumber" class="control-label"></label>
        <input asp-for="ReservationHolder.PhoneNumber" class="form-control" />
        <span asp-validation-for="ReservationHolder.PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ReservationHolder.Notes" class="control-label"></label>
        <textarea asp-for="ReservationHolder.Notes" class="form-control"></textarea>
        <span asp-validation-for="ReservationHolder.Notes" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
